.logo {
  font-family: ModernSansLight;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-text {
  line-height: 3;
}

.logo {
  font-size: 40px;
  font-weight: 500;
  padding: 1rem;
}

.icon {
  width: 16px;
  height: 16px;
}

.p-text {
  padding-right: 5px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(245, 0, 0, 0.9) !important;
  font-weight: bold !important;
}

.social-page-tw{
  padding-right: 1em;
}