.logo {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-text {
  line-height: 3;
}

.logo {
  font-size: 40px;
  font-weight: 500;
  padding: 1rem;
}

.navbar-container {
  letter-spacing: 0.1rem;
}

.row {
  margin-right: 0;
}

.links {
  color: black;
}

a:hover.links {
  color: black;
  font-weight: bold;
}

@font-face {
  font-family: 'ModernSansLight';
  src: local('ModernSansLight'), url("./fonts/ModernSansLight.ttf") format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Queensila';
  src: local('Queensila'), url("./fonts/Queensila.ttf") format('truetype');
  font-weight: normal;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'SansSerifMedium';
  src: local('SansSerifMedium'), url("./fonts/cmu.sans-serif-medium.ttf") format('truetype');
  font-weight: normal;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'TextGyreAdventor';
  src: local('TextGyreAdventor'), url("./fonts/texgyreadventor-regular.otf") format('otf');
  font-weight: normal;
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}