.a-div-sty {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.a-div-img {
    background-image: url("../../images/leirerincon.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100%;
    background-color: transparent;
}
.a-text {
    font-size: 14px;
    padding: 1rem;
    line-height: 2rem;
    initial-letter: 2;
}